*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#box{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
#box h1{
    text-align: center;
    margin-bottom: 20px;
}
#box form{
    display: flex;
    flex-direction: column;
}
#box label{
    margin-bottom: 10px;
    font-weight: bold;
}
#box input{
    padding: 10px;
    margin-bottom: 15px; ;
    border: 1px solid black;
}
#box button{
    padding: 10px;
    background-color: rgb(153, 199, 85);
    border: none;
}
#box button:hover{
    background-color: green;   
}
#box p{
    font-size: 14px;
    margin-bottom: 10px ;
    text-align: center;
}
